:root {
    --background-color: white;
    --accent-color: gray;
    --font-color: black;
    --link-color: blue;
    
    --header-height: 35px;
}

body {
    background-image: url("static/bg.jpg");
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

#header {
    color: var(--font-color);
    height: var(--header-height);
    display: flex;
    width: 100vw;
    position:fixed;
    top: 0;
    left: 0;
    padding: 8px;
    box-sizing: border-box;
    z-index: 10;
    background-color: rgb(255, 128, 0, 0.75);
    box-shadow: 0 7px 16px 16px rgb(255, 128, 0, 0.75);
    margin: 0;
} 

#header a {
    flex-grow: 1;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: #ffbb00;
    border-radius: 6px;
    margin-left: 16px;
    margin-right: 16px;
    padding: 8px;
    height: 1em;

    box-shadow: 0 16px 0 0 rgba(255, 255, 255, 0.342) inset;
}

.section {
    width: 100vw;
    padding: 0;
    
}

#top {
    height: 100vh;
    backdrop-filter: blur(2px);
}

#logo {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    justify-content: center;
}


#register {
    background-color: yellow;
    height: 100%;
}

#datesandtimes {
    background-color: goldenrod;
    height: 100%;
}

#howtoparticipate {
    background-color: darkgoldenrod;
    height: 100%;
}

#clothes {
    background-color: orange;
    height: 100%;
}

#fees {
    background-color: darkorange;
    height: 100%;
}

#ourmission {
    background-color: red;
    height: 100%;
}