/*@font-face {
    font-family: Headers;
    src: url(static/LilitaOne-Regular.ttf);
}

@font-face {
    font-family: Body;
    src: url(static/PlaypenSans-VariableFont_wght.ttf);
}*/

:root {
    --background-color: white;
    --accent-color: gray;
    --font-color: black;
    --link-color: blue;
    
    --header-height: 45px;
}

html {
    scroll-behavior: smooth;
    width: 100vw;
}

body {
    background-image: url("static/back.png");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
    /*font-family: Body, sans-serif;*/
    font-family: Chaloops-Medium, Chaloops;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
           
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
background: #615140;
}

::-webkit-scrollbar-thumb {
background: #ecd189;
transition: 0.2s;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: Chaloops-Medium, Chaloops;
}

#header {
    color: var(--font-color);
    height: var(--header-height);
    display: flex;
    width: 100vw;
    position:fixed;
    top: 0;
    left: 0;
    padding: 8px;
    box-sizing: border-box;
    z-index: 10;
    background-color: rgba(13, 122, 185, .75);
    box-shadow: 0 7px 16px 16px rgb(13, 122, 185, .75);
    margin: 0;
} 

#header a {
    flex-grow: 1;
    text-align: center;
    color: #3f3f3f;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2vw;
    text-decoration: none;
    border-radius: 6px;
    margin-left: 16px;
    margin-right: 16px;
    padding: 8px;
    height: 1em;
    background-color: rgba(86, 152, 128);
    border: 2px solid rgba(86, 152, 128, .8);
    transition: 0.2s;
    box-shadow: 0 16px 0 0 rgba(255, 255, 255, 0.404) inset, 0 4px 6px 2px rgba(0, 0, 0, 0.377);
    
}

#header a:hover {
    background-color: rgb(86, 152, 86);
    border: 2px solid rgba(86, 152, 86, .8);
    transform: scale(1.1) translateY(3px);
}

#header a:active {
    background-color: rgb(69, 165, 69);
    transform: rotateZ(-1deg) rotateY(-1deg) rotateX(-1deg) scale(1) translateY(3px);
}

.section {
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-size: 2vw;    
}

#top {
    height: 100vh;
    padding-top: 60px;
    overflow-y: visible;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    text-align: center;
    font-size: 4em;
    color: #624e3a;
    -webkit-text-stroke: 2px black;
    
}
#logo h5 {
    text-align: left;
    text-shadow: 8px 8px 0 black;
    -webkit-text-stroke: 2px black;


}
#logo h3 {
    text-align: right;
    color: #fbe7a3;
    text-shadow: -8px -8px 0 black;
    -webkit-text-stroke: 2px black;

}

#logo img {
    max-width: 50vw;
    width: 75vw;
    height: 75vh;
}

#register {
    text-decoration: none;
    background: linear-gradient(153deg, rgba(109,173,150,1) 0%, rgba(50,80,119,1) 100%);
    text-shadow: 4px 4px 8px black;
    color: #fedf96;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 16px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 8vw;
    box-shadow: 0 0 0 0 rgba(0, 0, 0) inset, 0 0 16px 0 black;
    transition: 0.2s;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    transition: 0.2s;
}

#register:hover {
    text-shadow: 4px 4px 8px black;
    transition: 0.5s;
    filter: saturate(125%);

}

#register:active {
    transition: .5s;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0) inset;
    transform: rotateZ(-10deg) rotateY(-10deg) rotateX(-10deg) scale(.9);
}

#register #feet {
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    background: none;
    transition: 1s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
#register:hover #feet {
    background: url("static/TurkeyWalking.gif");
    background-size: cover;
}

#register-text {
    z-index: 5;
    position: relative;
    font-family: Chaloops-Medium, Chaloops;
    font-weight: bold;
}

#sectionwrapper {
    background: rgb(247,228,170);
    background: linear-gradient(180deg, transparent 0%, rgba(247,228,170,0.8) 10%, rgba(188,89,82,0.8) 100%, rgba(188,89,82,0.18) 100%);
}

#datesandtimes {
    height: 100%;
}

.info{
    width: 50%;
    display: block;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

#moreinfo {
    
}

#donations {
    height: 100%;
    display: block;
    text-align: center;
}

#fees {
    margin-bottom: 0;
    display: block;
    text-align: center;
}

p {
    margin-top: -1px;
    margin-bottom: -.5px;
}

#calender {
    margin-right: 2%;
    padding: 0;
    width: 46%;
    filter: grayscale(1) invert(1);
    box-shadow: 0 0 10px 2px white;
}

#mission {
    display: block;
    text-align: center;
}

#org {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 0px;

}

#org p {
    display: block;
    font-size: 3vw;
}

#org img {
    display: block;
}

/*
background-color: rgba(233, 148, 105, .8);
box-shadow: 5px 5px 5px 5px rgba(233, 148, 105, .8), -5px -5px 5px 5px rgba(233, 148, 105, .8);

background-color: rgba(188, 89, 82, .8);
box-shadow: 5px 5px 5px 5px rgba(188, 89, 82, .8), -5px -5px 5px 5px rgba(188, 89, 82, .8);

background-color: rgba(147, 73, 72, .8);
box-shadow: 5px 5px 5px 5px rgba(147, 73, 72, .8), -5px -5px 5px 5px rgba(147, 73, 72, .8);

background-color: rgba(247, 228, 170, .8);
box-shadow: 5px 5px 5px 5px rgba(247, 228, 170, .8), -5px -5px 5px 5px rgba(247, 228, 170, .8);

background-color: rgba(104, 149, 129, .8);
box-shadow: 5px 5px 5px 5px rgba(104, 149, 129, .8), -5px -5px 5px 5px rgba(104, 149, 129, .8);
*/

#menu {
    display: none;
}

@media only screen and (max-width: 475px) {
    #header {
        display: none;
    }
    #logo {
        height: 50vh;
        width: 100vw;
        padding: 0;
        margin: 0;
    }
    #logo img {
        height: unset;
        width: 100%;
        max-width: unset;
        padding: 0;
        margin: 0;
    }
    #register {
        font-size: 15vw;
    }

    h1 {
        font-size: 10vw;
    }
    p {
        font-size: 4vw;
    }
    
    #menu {
        position: fixed;
        left: 10px;
        top: 2px;
        display: block;
        width: 5vw;
        height: 5vw;
    }

    .menu-bar {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
    }

    .info {
        width: 100%;
    }
    #calender {
        width: 100%;
    }
    #businesslogo {
        width: 90% !important;
    }
}