:root {
    --background-color: white;
    --accent-color: gray;
    --font-color: black;
    --link-color: blue;
    
    --header-height: 35px;
}

body {
    background-image: url("static/bg.jpg");
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
background: #615140;
}

::-webkit-scrollbar-thumb {
background: #ecd189;
transition: 0.2s;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

#header {
    color: var(--font-color);
    height: var(--header-height);
    display: flex;
    width: 100vw;
    position:fixed;
    top: 0;
    left: 0;
    padding: 8px;
    box-sizing: border-box;
    z-index: 10;
    background-color: rgb(255, 128, 0, 0.75);
    box-shadow: 0 7px 16px 16px rgb(255, 128, 0, 0.75);
    margin: 0;
} 

#header a {
    flex-grow: 1;
    text-align: center;
    color: #615140;
    font-weight: bold;
    text-decoration: none;
    background-color: #ecd189;
    border-radius: 6px;
    margin-left: 16px;
    margin-right: 16px;
    padding: 8px;
    height: 1em;
    border: 2px solid #ecd189;

    transition: 0.2s;

    box-shadow: 0 16px 0 0 rgba(255, 255, 255, 0.404) inset, 0 4px 6px 2px rgba(0, 0, 0, 0.377);
}

#header a:hover {
    background-color: #ffbb00;
    border: 2px solid #ffbb00;
}

.section {
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#top {
    height: 100vh;
    backdrop-filter: blur(2px);
}

#logo {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

#register {
    text-decoration: none;
    color: #fedf96;
    background-color: #231f20;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 16px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 6vw;
    text-shadow: 6px 6px 10px rgb(0, 0, 0);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0) inset;
    transition: 0.2s;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    box-sizing: border-box
}

#trLeaf {
    top: -100%;
    right: -100%;
    transform: rotate(-143deg);
}

#tlLeaf {
    top: -100%;
    left: -100%;
    transform: rotate(124deg);
}

#brLeaf {
    bottom: -100%;
    right: -100%;
    transform: rotate(-35deg);
}

#blLeaf {
    bottom: -100%;
    left: -100%;
    transform: rotate(66deg);
}

#register:hover #trLeaf {
    top: -4px;
    right: -10px;
}

#register:hover #tlLeaf {
    top: -15px;
    left: -20px;
}

#register:hover #brLeaf {
    bottom: -15px;
    right: -14px;
}

#register:hover #blLeaf {
    bottom: -9px;
    left: -16px;
}

#register img {
    position: absolute;
    width: 95%;
    transition: 1s;
}

#register-text {
    z-index: 10;
    position: relative;
}

#register:active {
    filter: saturate(.8)
}

#datesandtimes {
    background-color: rgba(236, 209, 137, .8);
    box-shadow: 5px 5px 5px 5px rgba(236, 209, 137, .8);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#datesandtimes .info{
    width: 50%;
    display: block;
    text-align: center;
}

#howtoparticipate {
    background-color: darkgoldenrod;
    height: 100%;
}

#clothes {
    background-color: orange;
    height: 100%;
}

#fees {
    background-color: darkorange;
    height: 100%;
}

#ourmission {
    background-color: red;
    height: 100%;
}